@import url("./abstracts/variables.css");
@import url("./components/banner.css");

* {
    box-sizing: border-box;
}
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    position: relative;
}

h1 {
    color: var(--red);
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
    cursor: pointer;
}

.photographer_section {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(150px, 450px) );
    gap: 70px;
    margin-top: 100px;
}

.icon {
    font-family: 'Material Symbols Outlined';
    cursor: pointer;
}

.r {
    border: 1px solid red;
}