@import url("./abstracts/variables.css");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*:focus {
    outline: #901c1c solid 2px;
    border-radius: 0.25rem;
}
body {
    width: 100%;
    min-height: 100vh;
    padding: 5vw 5vw 0 5vw;
    font-family: "DM Sans", sans-serif;
    position: relative;
}

.logo {
    width: clamp(100px, 20vw, 300px);
    cursor: pointer;
}

.icon {
    font-family: 'Material Symbols Outlined';
    cursor: pointer;
}

.r {
    border: 1px solid red;
}
