@import url("./abstracts/variables.css");
@import url("./components/banner.css");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    position: relative;
}

.icon {
    font-family: 'Material Symbols Outlined';
    cursor: pointer;
}

.r {
    border: 1px solid red;
}