.filterBox {
    width: 100%;
    margin: 50px 0px 50px 0px;
    display: flex;
    position: relative;
    z-index: 1000;
}
.filterBox .text {
    padding: 8px 12px;
}

.filterDropDownMenu {
    color: white;
    background-color: var(--red);
    border-radius: 5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.filterOption {
    width: 90%;
    padding: 8px 48px 8px 12px;
    margin: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.filterOption:hover {
    background-color: var(--darkred);
}

.filterOption:nth-child(2) {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.expandMore {
    font-size: 20px;
    padding: 8px 12px;
    margin-left: 10px;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.arrowDown {
    transform: rotateZ(0deg);
}

.arrowUp {
    transform: rotateZ(180deg);
}