@import url("../abstracts/variables.css");

.userCard .contentBox {
    width: min(100%, 300px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.userCard .contentBox .imgBox {
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    place-items: center;
    box-shadow: var(--shadow);
    cursor: pointer;
}

.userCard .contentBox .imgBox img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.userCard .contentBox figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userCard .contentBox figcaption h2 {
    color: var(--darkpink);
    font-size:clamp(20px, 1.5vw, 36px);
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}
.userName {
    color: var(--red);
    font-size: 28px;
    text-decoration: none;
    margin-top: 20px;
}

.userCard .contentBox figcaption .userLocation {
    color: var(--darkred);
}

.userCard .contentBox figcaption .userTagline {
    text-align: center;
    color: black;
}

.userCard .contentBox figcaption .userPrice {
    color: var(--lightgray);
}